[Interface]
PrivateKey = ${client_private_key}
Address = 10.0.0.${client_number}/24
DNS = 10.0.0.1

[Peer]
PublicKey = ${server_public_key}
Endpoint = ${server_address}:51820
AllowedIPs = 10.0.0.0/24, 0.0.0.0/0
PersistentKeepalive = 25
